* {
    box-sizing: border-box;
}

.tabuleiro{
    background-color: blue;
    padding: 11px;
}

.casa{
    background-color: bisque;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disco{
    background-color: black;
    border-radius: 50%;
    width: 90px;
    height: 90px;
   
}

